POLYMARKET_PRIVATE_KEY=
POLYMARKET_DEPOSIT_WALLET_ADDRESS=0xc106F01fd2b4182bd4B05694F25f557E16De6763
CLOB_API_URL=https://clob.polymarket.com
POLY_RELAYER_API_KEY=
POLY_RELAYER_ADDRESS=0xCF0ec9c7289f3584ca2509A0957f1D6B17fC3A85
